* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  margin: auto;
}

#contact-form {
  background: #e6e6e6;
  padding: 30px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}

#contact-form label {
  display: block;
  padding-bottom: 10px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

#contact-form button {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

#contact-form button:hover {
  background-color: #5cb85c;
}
